.tag {
  width: fit-content;
  padding: 4px 16px;
  border-radius: 0px 12px 0px 0px;
}

.dark {
  background-color: #444444;
  color: white;
}

.light {
  background-color: #e3e3e3;
  color: #444444;
}
