.project-container {
  display: flex;
  flex-direction: column;
  gap: 2vh;

  .logo-container {
    padding: 8vh;

    img {
      width: 22vh;
      height: 22vh;
    }
  }

  .text-container {
    display: flex;
    flex-direction: column;
    gap: 4px;
    .name {
      font-size: 2vh;
      font-weight: 700;
      line-height: 2.8vh;
    }

    .type {
      font-size: 1.8vh;
      font-weight: 400;
      line-height: 2.4vh;
    }
  }
}
